<h2>Login</h2>
<form #f="ngForm" (ngSubmit)="login(f)">
  <label>Username/Emmail</label>
  <input ngModel class="form-control" name=email #email="ngModel" type="email" placeholder="email" required email><br>
  <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Enter you email</div>
  <div class="alert alert-danger" *ngif="email.errors?.pattern && email.touched">Email format is wrong</div><br>
  

  <label>Password</label>
  <input ngModel class="form-control" name=password #password="ngModel" type="password" placeholder="your password" required minlength="6"><br>
  <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">Enter you password</div><br>
  <div class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">password too small</div><br>

  <button class="btn btn-warning" [disabled]="f.invalid" type="submit" (click)='login(f)'>Log In</button>
  &nbsp;&nbsp;
  <button class="btn btn-warning"  type="submit" routerLink="/signup">Sign up</button>
</form>
